{% extends "base_template.html" %}
{% set page_title = owner ~ "/" ~ repo ~ " commits" %}

{% block content %}
<h1>{{ owner }}/{{ repo }} &mdash; commits</h1>
<p><a href="{{ url_for('repos') }}">&laquo; back to repositories</a></p>
<table>
    <thead>
        <tr>
            <th>Message</th>
            <th>Author</th>
            <th>Date</th>
            <th>Commit SHA / Link</th>
        </tr>
    </thead>
    <tbody>
        {% for commit in commits %}
        <tr>
            <td>{{ commit.commit.message.split("\n")[0] }}</td>
            <td>{{ commit.commit.author.name }}</td>
            <td>{{ commit.commit.author.date }}</td>
            <td><a href="{{ commit.html_url }}" target="_blank">{{ commit.sha }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}