{% extends "base_template.html" %}
{% set page_title = "Home" %}
{% set heading = "GOVUK Notify Release App" %}

{% block content %}
<p class="govuk-body-l">Welcome, {{ user }}!</p>

{% if environment_statuses %}
<h2 class="govuk-heading-m">Environment Statuses</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Environment</th>
      <th class="govuk-table__header">Overall Status</th>
      {% for repo in repos %}
        <th class="govuk-table__header">{{ repo["name"] }} Commit</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% set api_repo = repos | selectattr("id", "equalto", "api") | first %}
    {% set admin_repo = repos | selectattr("id", "equalto", "admin") | first %}
    {% for environment in environment_statuses %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ environment.name }}</td>
      <td class="govuk-table__cell">{{ environment.status.status }} <br />
      <td class="govuk-table__cell">{{ environment.status.api.build_time | humanize_date }} <br />
        <a class="govuk-body-s govuk-link" style="color: grey"
          href="{{ 'https://github.com/' ~ api_repo.repo ~ '/commit/' ~ environment.status.api.git_commit }}"
          target="_blank">
          {{ environment.status.api.git_commit[:7] }}
        </a>
      </td>
      <td class="govuk-table__cell">{{ environment.status.build_time | humanize_date }} <br />
        <a class="govuk-body-s govuk-link" style="color: grey"
          href="{{ 'https://github.com/' ~ admin_repo.repo ~ '/commit/' ~ environment.status.git_commit }}"
          target="_blank">{{
          environment.status.git_commit[:7] }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}